agents==1.4.0
APScheduler==3.11.0
google_api_python_client==2.166.0
google_auth_oauthlib==1.2.1
mcp==1.6.0
openai==1.74.0
pyairtable==3.0.2
python-dotenv==1.1.0
Requests==2.32.3
python-telegram-bot==20.7